<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">B</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- button is the burger menu (only on small viewports) -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a ui-sref="overall" ui-sref-active="active" class="nav-link"
          >Overall</a
        >
      </li>
      <li class="nav-item">
        <a ui-sref="today" ui-sref-active="active" class="nav-link">Today</a>
      </li>
    </ul>
  </div>
</nav>
