<!-- todo less-ify -->

<div style="display: flex; padding: 1.5em;">
  <div
    ng-repeat="book in $ctrl.books track by $index"
    ng-mouseover="$ctrl.toggleInputActiveFor(book, true, 'book_' + $index)"
    ng-mouseleave="$ctrl.toggleInputActiveFor(book, false)"
    class="card"
    style="width: 18rem; margin: 0.5em;"
  >
    <div
      ng-if="book.book.name"
      ng-style="{background: $ctrl.nameToHexColor(book.book.name)}"
      style="position: relative"
      class="card-body"
    >
      <h5 class="card-title">{{ book.book.name }}</h5>

      <div style="display: flex">
        <div>
          <small
            >{{ book.book.currentPage }} of {{ book.book.pagesTotal }} pages
            read</small
          >
        </div>
        <div
          class="progress"
          style="flex: 1 1 auto; align-self: center; margin-left: 0.5em; height: 0.5em"
        >
          <div
            class="progress-bar"
            style="background-color: #a8aaad; "
            ng-style="{width: $ctrl.progressInPercent(book) + '%'}"
          ></div>
        </div>
      </div>

      <div
        ng-if="$ctrl.inputsActiveOn === book"
        style="display: flex; justify-content: center; align-items: center;
           position: absolute; top: 0; left: 0; background: rgba(255,255,255,0.80); width: 100%; height: 100%"
      >
        <!-- todo componentize? -->
        <div
          ng-if="!$ctrl.progressUpdating && !$ctrl.showRequestConfirmation"
          class="input-group"
          style="width: 80%"
        >
          <input
            ng-model="currentPage"
            ng-keydown="$event.which === 13 && $ctrl.updateBookProgress(book.book.name, currentPage)"
            type="number"
            class="form-control"
            placeholder="Current page .."
            id="book_{{$index}}"
            aria-label="Current page .."
            aria-describedby="button-addon2"
          />
          <div class="input-group-append">
            <button
              ng-click="$ctrl.updateBookProgress(book.book.name, currentPage)"
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2"
            >
              Submit
            </button>
          </div>
        </div>

        <div ng-if="$ctrl.progressUpdating">updating ..</div>

        <div ng-if="$ctrl.showRequestConfirmation">
          <strong>Current page successfully updated.</strong> <br />
          <a ui-sref="overall" style="text-decoration: underline; color: black;"
            >See Overall progress</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
