<!-- todo less-ify -->

<div style="display: flex; padding: 1.5em;">
  <div
    ng-repeat="book in $ctrl.books track by $index"
    ng-mouseover="$ctrl.toggleInputActiveFor(book, true, 'book_' + $index)"
    ng-mouseleave="$ctrl.toggleInputActiveFor(book, false)"
    class="card"
    style="width: 18rem; margin: 0.5em;"
  >
    <div
      ng-style="{background: $ctrl.nameToHexColor(book)}"
      style="position: relative"
      class="card-body"
    >
      <h5 class="card-title">{{ book }}</h5>
      <small>Add today's progress</small>
      <div
        ng-if="$ctrl.inputsActiveOn === book"
        style="display: flex; justify-content: center; align-items: center;
           position: absolute; top: 0; left: 0; background: rgba(255,255,255,0.70); width: 100%; height: 100%"
      >

        <div ng-if="$ctrl.progressUpdating">
          <!-- todo -->
          SHOW SPINNER + suggest to load progress page
        </div>

        <!-- todo componentize? -->
        <div ng-if="!$ctrl.progressUpdating" class="input-group" style="width: 80%">
          <input
            ng-model="pageCurrently"
            ng-keydown="$event.which === 13 && $ctrl.updateBookProgress(book, pageCurrently)"
            type="number"
            class="form-control"
            placeholder="You're on page"
            id="book_{{$index}}"
            aria-label="You're on page"
            aria-describedby="button-addon2"
          />
          <div class="input-group-append">
            <!-- todo button should also do update -->
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
