<div style="padding: 1.5em">
  <div class="text-uppercase text-muted m-2" style="font-size: small">
    In Progress
  </div>

  <div style="display: flex; flex-wrap: wrap">
    <div
      ng-repeat="book in $ctrl.books | filter:$ctrl.onlyUnfinishedBooks | orderBy:'name'"
      ng-mouseover="$ctrl.toggleInputActiveFor(book, true)"
      ng-mouseleave="$ctrl.toggleInputActiveFor(book, false)"
      class="card card--progress"
    >
      <div
        ng-if="book.name"
        ng-style="{ background: $ctrl.nameToHexColor(book.name) }"
        class="card-body card-body--container"
      >
        <h5 class="card-title">{{ book.name }}</h5>

        <div style="display: flex">
          <div>
            <small
              >{{ book.currentPage }} of {{ book.pagesTotal }} pages read</small
            >
          </div>
          <div class="progress progress-bar--container">
            <div
              class="progress-bar color--side-information"
              ng-style="{ width: $ctrl.progressInPercent(book) + '%' }"
            ></div>
          </div>
        </div>

        <div
          ng-if="$ctrl.inputsActiveOn === book"
          class="overlay--container--content-centered color--overlay overlay--container--fill-whole-parent"
        >
          <progress-input
            ng-if="
              !$ctrl.progressUpdating &&
              $ctrl.bookWithRequestConfirmation === null
            "
            book="book"
            on-progress-input="$ctrl.updateBookProgress(bookName, currentPage)"
          ></progress-input>

          <div ng-if="$ctrl.progressUpdating">updating ..</div>

          <div ng-if="$ctrl.bookWithRequestConfirmation === book.name">
            <strong>Current page successfully updated.</strong> <br />
            <a ui-sref="overall" class="href--semi-styled"
              >See Overall progress</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light border-top h-auto" style="width: 100%; padding: 1.5em">
  <div
    class="text-uppercase text-muted m-2 ng-binding"
    style="font-size: small"
  >
    Completed •
    {{ ($ctrl.books | filter: $ctrl.onlyCompletedBooks).length }}
  </div>

  <div style="display: flex; flex-wrap: wrap" class="m-1">
    <div
      ng-repeat="bookOrLetter in $ctrl.indexedBooks"
      style="line-height: 24px"
    >
      <span
        ng-if="bookOrLetter.type === 'letter'"
        class="bg-secondary text-light rounded-circle"
        style="padding: 4px 8px; margin-left: 4px"
        >{{ bookOrLetter.value }}</span
      >

      <small ng-if="bookOrLetter.type === 'book'" class="books-completed"
        >{{ bookOrLetter.value.name }}<span ng-if="!$last">,</span></small
      >
    </div>
  </div>
</div>
