name: Continuous Integration

on: [push]

jobs:
  build_and_test_and_upload:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "8"
          distribution: "adopt"

      # maven will trigger npm to build the UI
      - name: "Set up Node.js"
        uses: actions/setup-node@v6
        with:
          node-version: "12"

      - name: Build, Test and Package
        run: mvn --batch-mode package

      # artifacts overwrite each other if the name matches more than one
      - name: "Upload packaged jar"
        uses: actions/upload-artifact@v4
        with:
          name: packaged-jar
          path: target/bookmaster*.jar
