name: Continuous Integration

on: [push]

jobs:
  build_and_test_and_upload:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: "8"
          distribution: "adopt"
          cache: maven

      # maven will trigger npm to build the UI
      - name: "Set up Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: "12"

      - name: Build, Test and Package
        run: mvn --batch-mode package

      # artifacts overwrite each other if the name matches more than one
      - name: "Upload packaged jar"
        uses: actions/upload-artifact@v4
        with:
          name: packaged-jar
          path: target/bookmaster*.jar

  code_analysis:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v2

      - name: Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@master
        with:
          output: results.sarif
          format: sarif
          # Adjust severity of non-security issues
          gh-code-scanning-compat: true
          # Force 0 exit code to allow SARIF file generation
          # This will handover control about PR rejection to the GitHub side
          max-allowed-issues: 2147483647

      # Upload the SARIF file generated in the previous step
      - name: Upload results file (code scanning alerts)
        uses: github/codeql-action/upload-sarif@main
        with:
          sarif_file: results.sarif
